VITE_CLERK_PUBLISHABLE_KEY=
NEXT_PUBLIC_SUPABASE_URL=https://yyfealwxpebzezfximhg.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl5ZmVhbHd4cGViemV6ZnhpbWhnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTcyODI4OTIsImV4cCI6MjA3Mjg1ODg5Mn0.2lSocYs7EuIWtd6Dog0pPlzrwZSFXsFpvIZwMDnNyvY
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl5ZmVhbHd4cGViemV6ZnhpbWhnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NzI4Mjg5MiwiZXhwIjoyMDcyODU4ODkyfQ.y5LzEsyi_8YsomimzwutmFkMb-SMeBDeXkZf9xyYOA4